.jazl__comment {
  margin-bottom: 40px;
  font-size: 16px;

  & .jazl__comment__header {
    margin-bottom: 10px;

    & a {
      text-decoration: none;
    }

    & img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }

  }

  & .jazl__comment__body {
    line-height: 1.5em;
    border: 1px solid #22313f;
    padding: 10px;
  }
}

#jazl__editor {
  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  resize: vertical;
  padding: 15px;
  margin-bottom: 5px;
}

#jazl__editor-header {
  display: block;
  width: 100%;
  padding: 5px;
  color: white !important;
  background-color: black;
}

#jazl__add-button {
  margin-bottom: 20px;
}
