.jazl__comment {
  margin-bottom: 40px;
  font-size: 16px;

  & .jazl__comment__header {
    margin-bottom: 10px;

    & a {
      text-decoration: none;
    }

    & img {
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }

  }

  & .jazl__comment__body {
    line-height: 1.5em;
    border: 1px solid #22313f;
    padding: 10px;
  }
}

#jazl__editor {
  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  resize: vertical;
  padding: 15px;
  margin-bottom: 5px;

  &*:disabled {
    cursor: not-allowed;
    background-color: white;
  }
}

#jazl__editor-header {
  display: block;
  width: 100%;
  padding-right: 10px;
  color: white !important;
  background-color: #211f1f;
  font-size: 18px;

  & a {
    color: #45aaf2;
    text-decoration: none;
  }
}

#jazl__comment-button {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  background-color: #45aaf2;
  border: none;
  cursor: pointer;

  &*:disabled {
    cursor: not-allowed;
  }
}
