.jazl__comment {
  margin-bottom: 40px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #343434;
  background-color: white;

  & .jazl__comment__header {
    color: black;

    & a {
      text-decoration: none;
      color: black;
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  & .jazl__comment__body {
    min-height: 50px;
    line-height: 1.5em;
    padding: 10px;
    color: black;
    background-color: white;
    margin-top: 10px;

    & img {
      max-width: 100%;
    }
  }
}

#jazl__editor-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  background-color: white;
  padding: 10px;
}

#jazl__editor-header {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: right;
  padding-right: 10px;
  font-size: 18px;
  color: black;

  & a {
    color: black;
    font-weight: bold;
  }
}

#jazl__editor {
  display: block;
  width: 100%;
  min-height: 150px;
  max-height: 500px;
  resize: vertical;
  padding: 15px;
  margin-bottom: 5px;
  box-sizing: border-box;

  &*:disabled {
    cursor: not-allowed;
    background-color: white;
  }
}

#jazl__comment-button {
  margin-top: 10px;
  padding: 10px;
  float: right;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background-color: #211f1f;
  border: none;
  cursor: pointer;

  &*:disabled {
    cursor: not-allowed;
  }
}
